/* Gerais */
body {
    background-color: black;
}

/* Login */
body.bg_filmes {
    background-image: url(Assets/backgruonf.png);    
    background-repeat: no-repeat;
}

header {
    padding: 50px;
    background: linear-gradient(
        180deg
        rgba(0, 0, 0, 0.69) 0%,
        rgba(0, 0, 0, 0) 100%
    );
}

header img{
    width: 200px;
}

#logon {
    background-color: rgba(0,0,0,0.7);
    padding: 30px;
    margin-top: 50px;
}

/* Home */
.menu_list {
    list-style: none;
    padding-left: 0;
    padding-top: 7px;
}

.menu_list li {
    display: inline-block;
    margin-left: 15px;
}

.menu_list li a {
    color: #ffff;
}